Host *
    ControlMaster auto
    ControlPath .state/%C.socket
    ControlPersist 300
    ServerAliveInterval 5
    ServerAliveCountMax 3
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    UpdateHostKeys no
    ForwardAgent yes
