Host *
    ControlMaster auto
    ControlPath .state/%r-%h.socket
    ControlPersist 30
    ServerAliveInterval 1
    ServerAliveCountMax 5
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    UpdateHostKeys no
    ForwardAgent yes
