Host *
    ControlMaster auto
    ControlPath .state/%r-%h.socket
    ControlPersist 30
    ServerAliveInterval 5
    ServerAliveCountMax 3
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    UpdateHostKeys no
    ForwardAgent yes
